
<div class="signup-wrapper">
    <h1 class="text-center">SIGN UP</h1>
    
    <div class="card">
      <div class="card-body">
          <form action="">
              <div class="form-group">
                <label for="signup-email">Email address</label>
                <input class="form-control" type="email" placeholder="email@example.com" id="signup-email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email</small>
                <label for="signup-password">Password</label>
                <input class="form-control" type="password" placeholder="enter your password" id="signup-password">
                <label for="signup-password-confirm">Confirm Password</label>
                <input class="form-control" type="password" placeholder="enter your password" id="signup-password-confirm">
                <label for="signup-fullName">Full Name</label>
                <input class="form-control" type="text" placeholder="enter your Full Name" id="signup-fullName">
                <label for="signup-dob">Date of Birth (dd-mmm-yyyy)</label>
                <input class="form-control" type="date" placeholder="enter your date of birth" id="signup-dob" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" >
              </div>
              <button type="submit" class="btn btn-primary shareBtn">Sign me up</button>
            </form>
      </div>
    </div>
    
      
  </div>
