
<div class="login-wrapper">
  <h1 class="text-center">LOGIN</h1>
  
  <div class="card">
    <div class="card-body">
        <form>
            <div class="form-group">
              <label for="example-email-input">Email address</label>
              <input class="form-control" type="email" placeholder="email@example.com" id="example-email-input">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email</small>
              <label for="example-password-input">Password</label>
              <input class="form-control" type="password" placeholder="enter your password" id="example-password-input">
            </div>
            <button type="submit" class="btn btn-primary shareBtn">Let's Share</button>
          </form>
    </div>
  </div>
  
    
</div>
